<!doctype html>
<html>
<head>
<title>Image to XBM converter</title>
<style>
    body {
        margin: 20px;
        background-color: #000;
    }
    #dropZone {
        border: 2px dashed #333;
        -webkit-border-radius: 15px;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font-family: Helvetica, Arial;
        font-weight: bold;
        font-size: 32px;
        color: #333;
        margin: 0 0 20px 0;
    }
    textarea {
        margin: 20px 0 0 0;
        border: 0;
        background-color: #333;
        font-family: Consolas, courier;
        color: #fff;
    }
</style>
<script>
    var main = (function () {
        "use strict";

        /*
         Converts any image supported by the browser, to an XBM image.
         Optimized for LCD displays. Tested with an 12864ZW LCD display with U8GLib for Arduino.
         IMAGE FORMAT: LSB Horizontal, 8 pixels per byte
         Copyright © 2013 Victor Norgren. All rights reserved.
         */

        var MAX_IMAGE_SIZE = 256, THRESHOLD = 109, HEADER = "#define IMAGE_WIDTH {{WIDTH}}\n#define IMAGE_HEIGHT {{HEIGHT}}\nstatic unsigned char IMAGE_NAME[{{LENGTH}}] U8G_PROGMEM = {\n    ",
                FOOTER ="};",init, fileHandler, dragOverHandler, clearData, drawInput, drawOutput, imageIsMonochrome,
                writeByteArray, canvasInput, contextInput, canvasOutput, contextOutput,
                width, height, resultBuffer = "", result, pad,
                defEnable = true, defStart, defEnd;

        pad = function (number, width) {
            return ("00000000".slice(0, width - String(number).length) + String(number));
        };

        clearData = function () {
            contextInput.clearRect(0, 0, canvasInput.width, canvasInput.height);
            contextOutput.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
            resultBuffer = "";
            result.value = "";
        };

        drawInput = function (image) {
            var totalBytes, className;
            clearData();

            width = image.width;
            height = image.height;

            totalBytes = (image.width * image.height) / 8;

            defStart = HEADER;
            defEnd = FOOTER;

            defStart = defStart.replace("{{LENGTH}}", totalBytes);
            defStart = defStart.replace("{{WIDTH}}", image.width);
            defStart = defStart.replace("{{HEIGHT}}", image.height);

            canvasInput.width = image.width;
            canvasInput.height = image.height;

            canvasOutput.width = image.width;
            canvasOutput.height = image.height;

            contextInput.drawImage(image, 0, 0);
            drawOutput();
        };

        imageIsMonochrome = function () {
            var x, y, data, index = 0, isMonochrome = true;
            for (y = 0; y < height; y += 1) {
                for (x = 0; x < width; x += 1) {
                    index = (x + y * width) * 4;
                    data = contextInput.getImageData(x, y, 1, 1).data;

                    if((data[0] !== 0 && data[0] !== 255) || (data[1] !== 0 && data[1] !== 255) || (data[2] !== 0 && data[2] !== 255)) {
                        isMonochrome = false;
                        return isMonochrome;
                    }
                }
            }
            return isMonochrome;
        };

        drawOutput = function () {
            var x, y, imageData, index = 0, data, WHITE = 255, BLACK = 0;
            imageData = contextOutput.createImageData(width, height);

            // If color image, invert colors
            if(!imageIsMonochrome()) {
                WHITE = 0;
                BLACK = 255;
            }

            for (y = 0; y < height; y += 1) {
                for (x = 0; x < width; x += 1) {
                    index = (x + y * imageData.width) * 4;
                    data = contextInput.getImageData(x, y, 1, 1).data;

                    if ((data[0] + data[1] + data[2]) >= (THRESHOLD * 3)) {
                        imageData.data[index] = WHITE;
                        imageData.data[index + 1] = WHITE;
                        imageData.data[index + 2] = WHITE;
                        imageData.data[index + 3] = 255;
                    } else {
                        imageData.data[index] = BLACK;
                        imageData.data[index + 1] = BLACK;
                        imageData.data[index + 2] = BLACK;
                        imageData.data[index + 3] = 255;
                    }
                }
            }
            if (defEnable) {
                resultBuffer += defStart;
            }
            contextOutput.putImageData(imageData, 0, 0);
            writeByteArray();
        };

        writeByteArray = function () {
            var x,
                y,
                bit = 0,
                byteValue = "",
                data,
                outputIndex = 0,
                LSB,
                DEC,
                HEX,
                delimiter = ",";

            for (y = 0; y < height; y += 1) {
                for (x = 0; x < width; x += 1) {
                    data = contextOutput.getImageData(x, y, 1, 1).data;

                    bit = (data[0] === 255) ? 0 : 1;
                    byteValue += bit.toString();

                    if (x % 8 === 7) {
                        LSB = byteValue.split("").reverse().join("");
                        DEC = parseInt(LSB, 2);
                        HEX = "0x" + pad(DEC.toString(16), 2);
                        delimiter = ",";
                        if (x === (width - 1) && y === (height - 1)) {
                            delimiter = "";
                        }
                        resultBuffer += HEX + delimiter;
                        if (outputIndex % 16 === 15) {
                            resultBuffer += "\n    ";
                        }
                        byteValue = "";
                        outputIndex += 1;
                    }
                }
            }
            if (defEnable) {
                resultBuffer += defEnd;
            }
            result.value = resultBuffer;
        };

        fileHandler = function (event) {
            var files = event.dataTransfer.files, reader;
            event.stopPropagation();
            event.preventDefault();

            if (!files[0].type.match("image.*")) {
                alert("Please select a single image file (jpg/png/gif)");
                return;
            }

            reader = new FileReader();
            reader.onload = (function (file) {
                return function (event) {
                    var image = new Image();
                    image.onload = function () {
                        if (this.width > MAX_IMAGE_SIZE || this.height > MAX_IMAGE_SIZE) {
                            alert("Image too large (max size " + MAX_IMAGE_SIZE + "px)");
                            return;
                        }
                        drawInput(this);
                    };
                    image.src = event.target.result;
                };
            }(files[0]));

            reader.readAsDataURL(files[0]);
        };

        dragOverHandler = function (event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = "copy";
        };

        init = function () {
            var dropZone, image;
            canvasInput = document.getElementById("input");
            canvasOutput = document.getElementById("output");
            contextInput = canvasInput.getContext("2d");
            contextOutput = canvasOutput.getContext("2d");
            result = document.getElementById("result");

            dropZone = document.getElementById("dropZone");
            dropZone.addEventListener("dragover", dragOverHandler, false);
            dropZone.addEventListener("drop", fileHandler, false);

            image = new Image();
            image.onload = function () {
                drawInput(this);
            };
            image.src = "img.gif";
        };

        return {
            init: function () {
                init();
            }
        };
    }());
    window.addEventListener("load", main.init, false);
</script>
</head>
<body>
<div id="dropZone">Drop image here</div>
<canvas id="input" width="128" height="64"></canvas>
<canvas id="output" width="128" height="64"></canvas>
<br>
<textarea id="result" cols="90" rows="25"></textarea>
</body>
</html>